    .o-name{
    padding-left: 10px;
    text-align: right;
    border: none;
    border-radius: none;
    outline: none;
  }

  .navbar{
    background-color: #262626;
  }

  .logout{
    margin-left: 1030px;
    color: white;
  }
  
  body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #10163A;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 17px;
  }
  
  li a {
    text-align:left;
    color: white;
    display: block;
    padding: 8px 26px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


  /*dropdown for selecting event*/
  .btn-dark, .dropdown-toggle{
    background-color: #262626;
    padding: 0;
  }
  
  .btn-group{
    margin-top: 10px;
    margin-left:15%;
  }
  select option.active {
    background-color: #4CAF50;
    color: white;
  }
  
  select option:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /*form for funds collection*/
  .donation-container {
    height: 1000px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 30px;
  }
  
  .donation-box {
    width: 700px;
    height: 600px;
    background-color: #66686b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    margin: auto auto;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  
  .donation-box .title {
    background-color: #262626;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
  }
  
  .donation-box .donate-button {
    background-color: #262626;
    width: max-content;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    bottom: 0px;
    position: absolute;
    cursor: pointer;
    font-weight: 800;
    display: flex;
  justify-content: center;
    width: 100%;
  }
  
  .donation-box .fields {
    width: 59%;
    display: block;
    position: absolute;
    top: 100px;
    left: 15px;
  }
  
  .donation-box .fields input {
    width: 90%;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
  }
  
  ::-webkit-input-placeholder {
     color: #111111;
     font-size: 15px;
  }
  
  :-moz-placeholder { 
     color: #131212;
     font-size: 15px;
  }
  
  ::-moz-placeholder { 
     color: #080808;
     font-size: 15px; 
  }
  
  :-ms-input-placeholder {  
     color: #0a0a0a;
     font-size: 15px;
  }
  
  .donation-box .amount {
    width: 30%;
    display: block;
    position: absolute;
    top: 140px;
    right: 15px;
  }
  
  .donation-box .amount .button {
    width: 100%;
    background-color: #262626;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    padding: 15px 0px 15px 0px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    
    -webkit-transition: 400ms background-color;
    -moz-transition: 800ms opacity, 800ms right;
    -ms-transition: 800ms opacity, 800ms right;
    -o-transition: 800ms opacity, 800ms right;
    transition: 200ms background-color;
  }
  
  .donation-box .amount .button:hover {
    background-color: #24408f;
  }
  
  .donation-box .amount .button input {
    min-width: 34px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px dashed white;
    -webkit-font-smoothing: antialiased;
    
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  label{
    margin-bottom: 10px;
      text-align: center;
      color: white;
      border-radius: 4px;
      font-size: 20px;
  }
  
  .set-amount {
    max-width: 96px;
  }

  input {
  float: left;
}

/*form for creating event*/
.econtainer {
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 30px;
}

.ebox {
  width: 450px;
  height: 400px;
  background-color: #66686b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin-left: 34%;
  margin-top: 10%;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.ebox .titlew {
  background-color: #262626;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.ebox .create-button {
  background-color: #262626;
  width: max-content;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  font-weight: 800;
  display: flex;
justify-content: center;
  width: 100%;
}

.ebox .fill {
  width: 50%;
  display: block;
  position: absolute;
  top: 100px;
  left: 15px;
}

.ebox .fill input {
  width: 90%;
  font-size: 17px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}

.ebox .trea{
  margin-left: 220px;
  margin-top:38px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

